<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Customer - Apartment Reservation System</title>
    <!-- Linking Bootstrap CSS File -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <!-- Custom styles -->
    <style>
        body {
            background-color: #f8f9fa;
        }

        .customer-container {
            max-width: 600px;
            margin: auto;
            margin-top: 100px;
        }
    </style>
</head>

<body>
<th:block th:include="customerNavBar"></th:block>
<div class="container">
    <h2 class="text-center mb-4">Reservation  Form</h2>
    <form th:action="@{/saveReservationCustomer}" th:object="${reservation}" method="post" onsubmit="return validateForm()">

        <div class="mb-3">

            <div class="mb-3">
                <label for="customer" class="form-label">customer</label>
                <input type="hidden" th:field="*{id}">
                <select class="form-control" th:field="*{customer}" id="customer">

                    <option th:value="${authenticatedCustomer.id}" th:text="${authenticatedCustomer.names}"></option>


                </select>

            </div>


        </div>
        <div class="mb-3">
            <label for="apartment" class="form-label">Apartment</label>
            <select class="form-control" th:field="*{apartment}" id="apartment">

                    <option th:value="${apartment.id}" th:text="${apartment.name + ' room ' + apartment.numberOfRooms+' desc '+apartment.description}"></option>



            </select>

        </div>

        <div class="mb-3">
            <label for="checkInDate" class="form-label">Reservation In Date</label>
            <input type="date" class="form-control" id="checkinDate" name="checkInDAte" th:field="*{checkInDate}" required>
        </div>
        <div class="mb-3">
            <label for="checkOutDate" class="form-label">Reservation In Date</label>
            <input type="date" class="form-control" id="checkOutDate" name="email" th:field="*{checkOutDate}" required>
        </div>


        <!-- Add other fields as needed -->
        <button type="submit" class="btn btn-primary">Save Reservation Information</button>
        <button type="reset" class="btn btn-danger">Clear</button>
    </form>
</div>

<!-- Bootstrap script link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>
