<!-- Header & Navbar -->
<header class="bg-dark fixed-top">
  <nav class="container-xxl navbar navbar-expand-lg py-3 bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-3" href="#">Apartment Reservation System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2">
            <a class="nav-link" href="#apartments">APARTMENTS</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#reservations">RESERVATIONS</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#about">ABOUT</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#contact">CONTACT</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" th:href="@{adminLogin}">STAFF</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i> SIGN IN</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" th:href="@{/signup}"><i class="fas fa-user-plus"></i> SIGN UP</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
